/* Webfont: Lato-Bold */




@font-face {
    font-family: 'latobold';
    src: url('fonts/lato-bold-webfont.woff2') format('woff2'),
         url('fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body
{
  font-family: 'latobold',Helvetica,Arial,sans-serif !important;  
  font-size: 14px;
  line-height: 1.42857;
}




.sidebar
{
color:#fff;
background-color:#4c4743;
}
.sidebar ul li a.active {
    background-color: #333;
    color: #C6C6C6;
}

nav .navbar-header
{
  background-color: #ff5e3a;
  color:#fff;
}



.navbar-static-top
{
   background-color:#fff;
   color:#666666;
}
.navbar-top-links>li>a:hover,
.navbar-top-links>li>a:focus {color: #fff;background-color: #333;}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover
{
   color: #fff;background-color: #333;
}
a {
    color: #666;
    text-decoration: none;
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: #000;
    text-decoration: none;
}
.navbar-default .navbar-brand {
    color: #fff;
    height: 51px;
    width: 250px;
}
/* a:hover
{
   color:#fff !important;
}*/

.sidebar .fa.arrow:before {
     content: "\f105" !important; 
}

.sidebar .active > a > .fa.arrow::before {
    content: "\f107" !important;
}

.panels {
    display: block;
    margin-bottom: 40px;
    overflow: auto;
    padding: 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
    background-color: #fff;
    margin-top: 30px;
}


.panel-primary {
    border-color: #fff;
    border: 1px solid transparent;
}

.panel-primary>.panel-heading {

      color: #666666;
    background-color: #fff;
    border-color: #fff;
  }

  .panels .left-box
  {
    padding-left: 0px;
  }

  .panels .right-box .titleTxt
  {
    display: block;
    padding: 24px 4px;
    font-size: 19px;
  }
  .titleTxt:hover
  {
    color: #666;
  }

  .dropdown .dropdown-toggle .badge-notify{
    background: red none repeat scroll 0 0;
    left: -11px;
    position: relative;
    top: -12px;
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-top: 20px solid #fff;
    position: absolute;
    margin: 76px 177px;
    box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
    -webkit-filter: drop-shadow(0px 1px 0px rgba(0,0,0,0.2));
    filter: drop-shadow(0px 1px 0px rgba(0,0,0,0.2));
}

.panel-default>.panel-heading {
  font-family: 'latobold',Helvetica,Arial,sans-serif !important;  
    padding: 20px 15px;
    color: #ffffff;
    background-color: #949494;
    border-color: #eaeaea;
    font-size: 14px;
     font-weight: bold;
}

table.dataTable thead .sorting:before {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

table  thead tr
{
  background-color: #949494;
  color:#fff;
}


.panel-body {
     padding: 0px; 
}

.table-bordered {
    border: none;
    color: #7f7f7f;
}

table.table-bordered tbody th, table.table-bordered tbody td {
    border: 0 none;
}
.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th{
  border: 0 none;
}



.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #fafcfd;
    border-bottom: 1px solid #e8e8e8;
}

.table-striped > tbody > tr:hover
{
  background-color: #ffdfb2 !important;
}

.panel-heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    }

    .tableTitle
    {
      color: #777777;
    }

/*.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 18px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 153px;
    padding: 5px 0;
    margin: 0px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}*/

.dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 14px;
    left: 7px;
    list-style: outside none none;
    margin: 0;
    min-width: 95%;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 81%;
    z-index: 1000;
}

.menuRight {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 14px;
    left: 7px;
    list-style: outside none none;
    margin: 0;
    min-width: 92%;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 81%;
    z-index: 1000;
}
.selectionPanel
{

  background-color: #fff;
  color:#777777;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
    display: block;
    margin-bottom: 20px;
    margin-top: 0px;
    overflow: auto;
    padding: 3px;
    overflow: visible;
  
}

.panelTitle
{
  display: block;
    text-align:center;
    padding: 12px;
}

.dropIcon
{
     padding:8px;
     background-color: rgb(202,202,202);
     color:#757575;
}

.downArrowIcon
{
  float: right;
    padding: 8px;
}

.calSelector
{
    border: 1px solid #ccc;   
    display: inherit;
    font-size: 12px;
    line-height: 27px;
}

.dropdown-menu {
  padding: 1px 0px;
}
.dropdown ul.dropdown-menu::before {
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    position: absolute;
    right: 16px;
    top: -10px;
    z-index: 10;
    overflow: auto;
}

.dropdown ul.dropdown-menu {
    border-radius: 4px;
    box-shadow: none;
    margin-top: 20px;
    width: 300px;
}
.dropdown-menu .divider a 
{
    border: 1px solid #e5e5e5;
    color: #757575;
}
.dropdown-menu .divider {
    height: 25px;
    margin: -1px 0;
    /* overflow: hidden; */
    background-color: #fff;
    border: 1px solid #e5e5e5;
    color: #757575;
    display:block;
}

.leftBox
{
  margin: 0px;
  padding:7px;;
}

.rightBox
{
  margin: 0px;
  padding: 7px;
}

.selectionTxt
{
      padding: 0px 10px;
}

.btn {
    min-width: 88px;
   padding: 3px 5px;
   border-radius: 0px;
   background-color: #1FBBA6;
   color: #ffffff;
}

.btn-reject
{
  
   background-color: #FE5E3A;
  
}

.btn:hover
{
  color:#ffffcc;
}

.btn-raised {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.col-centered {      
    margin-right: -4px;
    text-align: center;
    padding: 7px 0px;
}


.buttonPanel {
    padding: 20px 4px 10px 4px;
    display: block;
    overflow: auto;
}

 .profile-container {
    background-color: #fff;
    border-radius: 0px !important;
    overflow: auto;
    padding: 20px 0;;
    margin: 0 17px;
    font-size : 13px;
}
  .profile-header
  {
    height: 51px;
    width: 100%;
    border: 1px solid #eaeaea;
    margin-top: 45px;
    background-color: #fbfbfb;
  }
  .profile-header .heading
  {
    font-size: 14px;
    color:#777777;
    float: left;
    font-family: 'latobold';
    padding: 15px 9px;
    float: left;
  }
  .edit-details 
  {
    padding: 2px 9px;
  }

  .profile-header .btn
  {
    background: #1fbba6 none repeat scroll 0 0;
    color: #ffffff;
    font-family: 'latobold';
    font-size: 12px;   
    margin: 9px;
    border: 0 none;
    cursor: pointer;
    outline: 0 none;
    text-transform: uppercase;   
    float: right;
    border-radius: 0px;
    padding: 7px;
    cursor: pointer;
  }
  .image-holder
  {
     
   
    margin: 0 auto;
    overflow: auto;    
    text-align: center;
  }
  .name-header
  {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
  }
  .name-header .first-name, .name-header .last-name
  {
    color: #777777;
    font-size: 14px;
    

  }
  
  .property.col-md-3:first-child
  {
    clear:both;
  }
   .properties .property i
  
  {
    margin-right: 9px;
  }


 
  .name-header .first-name span, .name-header .last-name span
  {
    font-size: 20px;
    font-family: 'latobold';
  }
  
.properties .value
  {
   color: #ff5e3a;
   
    font-family: "latobold";
    font-size: 14px;
    height: auto;
    
    padding: 10px;
    position: relative;
  }
 
.formHidden{
   visibility: hidden;
    position: absolute; 
     top: -11px;
    z-index: -100;
}

.formVisible
{
    left: 0;
    position: absolute;
    top: 3px;
    visibility: visible;
    width: 84%;
    z-index: 999;
    color:#000;
}

input::placeholder
{
  color:#000;
}

 /* .properties .property
  {
    width: 30%;
    float: left;
}

  .properties .value
  {
    color: #ff5e3a;
    font-family: 'latobold';
    font-size: 14px;
    float: right;
    width: 70%;
  }*/

  
  button {
 
  width: 250px;
  text-align: center;
  font-weight: bold;
  border-radius:10px;
}

.btn:hover
{
   
    background-color:#1FBBA6 !important;
}
.checkboxes{
	float:left;

    

}
.padding-top-bottom {
      padding-top : 10px;
      padding-bottom : 10px;
}
#wsr{
	padding-top:22px;
}
#downloaddoc{
	padding-top:0px;
}
#commentModalLabelView{
	margin:5px;
}

/*Document management*/


.clickable{
    cursor: pointer;   
}


#latestdoc{
	  padding: 4px;
}
#adddoc{
	padding-top : 0px;
}
.panel-heading .accordion-toggle:after {
   
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    float: right;        
    color: white;        
}
.panel-heading .accordion-toggle.collapsed:after {
    
    content: "\e080";    
}
#addocbtn{
	margin-top: 10px;
}
.navbar-brand {
  margin-left: 34px !important;
  color:#fff !important;
  font-weight:bold;
  font-size:23px;
}
#subhead{
	 text-decoration: underline;
	 font-weight:bold;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.noSpacing {
    padding:0;
}