.backgroundColor {
    background-color: #333333;
}

.search_btn {
    background-color: #CC0000;
    color: #FFFFFF;
    width: 100%;
}

    .search_btn:hover {
        color: #FFFFFF !important;
    }

.backWhite {
    background-color: white !important;
    margin-top: 24px;
}


.side_image {
    background-image: url(../Images/side-img.jpg);
}

.feedbackText {
    font-size: small;
    font-style: italic;
}


.backgroundImageOfDiv {
    background-image: url(../Images/top-line-bg.jpg);
}

.voiceOff {
    font-size: 130%;
}

.smiley {
    height: 30px;
    width: 30px;
}

.btnAdd {
    padding-left: 24%;
}

.secondFeedback {
    display: none;
}

.control-label {
    text-align: left !important;
}

.Tronclogo {
    padding-top: 20px;
    float: right;
}

/*.imageAlign {
    height: 1010px;
}*/

/*@media only screen and (min-width:1290px) and (max-width:1920px) {
    .imageAlign {
        height: 1116px;
        margin-left: -75px;
        margin-top: -26px;
    }
}*/

.mandatory {
    color: red;
}

.arrowIcon {
    height: 22px;
    width: 22px;
}

.btnSubmit {
    background-color: #C00001 !important;
    border-radius: 10px !important;
    width: 87%;
    font-weight: bold;
    color: white !important;
}

.closeIcon {
    padding-left: 41% !important;
    font-size: 30px;
}

.feedbackCatagoryText {
    font-size: smaller;
    font-weight: bold;
}

.anchorClass {
    text-decoration: none !important;
}

.imageAlign {
    height: 1074px;
    margin-left: -55px;
    margin-top: -25px;
}


.TcsLogo {
    width: 175px;
    height: 95px;
}

.btnSubmit:hover {
    background-color: #C00001 !important;
    color: white;
}


.row.no-gutter {
    margin-left: 2px;
    margin-right: 2px;
}

    .row.no-gutter [class*='col-']:not(:first-child),
    .row.no-gutter [class*='col-']:not(:last-child) {
        padding-right: 2px;
        padding-left: 2px;
    }

.background_image {
    background-image: url('../Images/homepage_background.png');
}

.wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

    .wrap:hover {
        overflow: visible;
        white-space: normal;
    }

.coupon {
    padding: 5px;
    text-align: center;
    border: 3px solid #ccc;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.padding-top-bottom {
    padding-top: 15px;
}

.thead_color {
    color: white;
    background-color: black;
}

tbody tr:nth-child(even) {
    background: #DFDDDE;
}

tbody tr:nth-child(odd) {
    background: #F1EDEE;
}





.styled-select {
    background: url('../Images/drop-down.png') no-repeat right center;
    height: 34px;
    width: 240px;
}

.text-Centre-Align {
    text-align: center;
}


.tooltiptime {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

    .tooltiptime .tooltiptimetext {
        visibility: hidden;
        width: 320px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 1s;
    }

        .tooltiptime .tooltiptimetext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .tooltiptime:hover .tooltiptimetext {
        visibility: visible;
        opacity: 1;
    }
