
@font-face {
    font-family: 'latolight';
    src: url('fonts/lato-light-webfont.woff2') format('woff2'),
         url('fonts/lato-light-webfont.woff') format('woff'),
         url('fonts/Lato-Light.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoregular';
    src: url('fonts/lato-regular-webfont.woff2') format('woff2'),
         url('fonts/lato-regular-webfont.woff') format('woff'),
         url('fonts/LatoLatin-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}



body
{
	background: #4c4743;
	font-family: 'latolight',Helvetica,Arial,sans-serif !important;  ;
}

.login-panel 
{
    margin-top: 60px;
    height: 380px;
}
.tronc-logo
{
	margin-top: 100px;
}
.tronc-logo img
{
	display: block;
	margin: 0 auto;
}
.panel
{
	border:none;
	border-radius: 0px;
	background-color: #433e39;
}

.upper_bar
{
	height: 5px;
	width: 100%;
	position: relative;
}
.upper_bar .color_bar
{
	width: 25%;
	height: 5px;
}
.upper_bar #color1{background-color: #f55b38; float: left;}
.upper_bar #color2{background-color: #f99200; float: left;}
.upper_bar #color3{background-color: #74c30e; float: left;}
.upper_bar #color4{background-color: #1fb7a2; float: left;}

.user_login_icon
{
	height: 81px;
    width: 81px;
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -40px;
}
.heading
{
	margin-top: 60px;
	color: rgb(255, 255, 255);
	padding: 0px 12px;
	font-size: 18px;
	text-align: center;
}
.heading .line2
{
	font-size: 14px;
}

.form-body
{
	margin-top: 30px;
}

.form-body .login-form
{
	margin: 0px auto;
	width: 270px;
}

.form-body input
{
	outline: 0;
	background: #2a2724;
	width: 100%;
	border: 0;
	margin: 0px auto 6px;
	box-sizing: border-box;
	font-size: 14px;
	height: 35px;
	color: #b3b3b3;
}
.form-body button, .create-account button {
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border: 0;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;  
}

.form-body .sign-in
{
	background: #1fbba6;
	height: 49px;
	color: #FFFFFF;
	margin-top: 8px;
	font-size: 17px;
}
.form-body .forgot-password
{
	height: 33px;
	background:#433e39;
	color: #a1a1a1;
	font-size: 12px;
	border: 1px solid #888888;
	margin-top: 25px;
}
.create-account .account-btn
{
	height: 49px;
	background:#2a2724;
	color: #1fbba6;
	font-size: 14px;
	border: 1px solid #1fbba6;
	margin-bottom: 20px;
}
.reinforce-logo
{
	margin-bottom: 40px;
}
.reinforce-logo img
{
	display: block;
	margin:0 auto;
}
.reset
{
	margin-top: 25px !important;
}

.reset-panel {
    height: 310px;
}
.or
{
	color:rgb(255, 255, 255);
	margin-bottom: 6px;
}
.forgot-panel
{
	height: 335px;
}
.loginSpan{
	color:white;
	font:5px;
	
	
}

@media screen and (max-width: 992px)
{
	.mobile-view
	{
		width: 400px;
		margin:0 auto;
	}

}
@media screen and (max-width: 400px)
{
	.mobile-view
	{
		width: 300px;
		margin:0 auto;
	}

}