<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState timeout="20" mode="InProc" />
    <!--<httpModules>
      <add name="UploadModule" type="RTE.UploadModule,RichTextEditor"/>
    </httpModules>-->
  </system.web>
  <connectionStrings>
    <add name="timesheetDBConnectionString" connectionString="Data Source=52.35.154.213;Initial Catalog=TimesheetDB;Persist Security Info=True;User ID=Invoice;Password=invoice" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="troncPassword" value="d47aa8357c8f775427cc3a0c48a9d6b4" />
    <!-- Email Portion -->
    <add key="EscalationEmailTo" value="magarwal@tronc.com,avsen@tronc.com,chandan.mazumdar@tcs.com,mona.agarwal@tcs.com" />
    <add key="EscalationEmailFrom" value="troncFeedback@gmail.com" />
    <add key="MailUserName" value="troncFeedback@gmail.com" />
    <add key="MailPassword" value="tronc@Feedback" />
    <add key="Host" value="smtp.gmail.com" />
    <add key="Port" value="587" />
    <!--<add key="HtmlBodyTemplatePath" value="D:\Mona\troncTimeSheetSystem\tronc.Timesheet.Web\HtmlTemplate\EmailTemplate.html"/>-->
  </appSettings>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <add value="FloorPoolTimesheet.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>